.logo {
    background-color: #000000;
    overflow: hidden;
  }
  .logo h1{
    color: #f2f2f2;
    margin-bottom: -4%;
    margin-left: 4%;
  }
  .logo button{background-color: yellow;
  float: right;
  color:black ;
  padding: 20px 40px;
  margin-right: 15%;
  margin-top: -5%;
margin-bottom: 2%;}
  
  
  .logo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .logo li {
    float: left;
  }
  
  .logo li a {
    display: block;
    color: white;
    padding: 20px 22px;
    text-decoration: none;
    margin-left: 200%;
  
  }
  

#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.items{
    border:solid rgb(198, 203,198 ) ;
    border-radius: 5px;
    margin-bottom: 2%;
    text-align: center;
    width: 20%;
}
.items img{
  width: 100%;
}

footer {
    background-color: #000000;
    padding: 20px;
  }
  
  .footer-item {
    display: inline-block;
    justify-content: space-evenly;
    margin-right: 60px;
    font-size: 14px;
    color: #f2f2f2;
  }

  #mages{
    margin-left: 35px;
    width:90%;
    padding: 20px;
    height: 70vh;
  }
  .two img{
    width: 40%;
    
  }
  .two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #last{
    margin-left: 5%;
    width:87%;
    padding: 20px;
    height: 70vh;
 
  }